<ul>
  {{#if errors}}
    {{#each errors}}
    <li style="color:#ff0000;">{{msg}}</li>
    {{/each}}
  {{/if}}
</ul>
<div class="singUp">
	<form name="singUp" id="formSingUp" action="/register" method="POST">
		<table>
		 <tr>
			<td>
			 <label for="username">User Name:</label>	
			</td>
			<td>
			 <input type="text" name="username" id="username" placeholder="User Name..." >
			</td>
		 </tr>
		 <tr>
			<td>
			 <label for="email">Email:</label>	
			</td>
			<td>
			 <input type="email" name="email" id="email" placeholder="Your-Eamail@...">
			</td>
		 </tr>
		 <tr>
			<td>
			 <label for="password">Password:</label>	
			</td>
			<td>
			 <input type="password" name="password" id="password" placeholder="Password...">
			</td>
		 </tr>
		 <tr>
			<td>
			 <label for="passwordConfirm">Confirm password:</label>	
			</td>
			<td>
			 <input type="password" name="passwordConfirm" id="passwordConfirm" placeholder="Password confirmation...">
			</td>
		 </tr>
		</table>
		<input type="submit" value="Sing Up">
	</form>
</div>